:root {
  --flow-space-title: 4.27vw;
  --flow-space-hero: 7.47vw;
  --flow-space-description: 6.4vw;
  --flow-space-category-list: 18.14vw;
  --flow-space-category-description: 4.54vw;
}

body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
}

.hero{
  background-image: url('/images/image-header.jpg');
  background-size: 155%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -13.34vw;
}

.flow__hero > * + * {
  margin-top: var(--flow-space-hero, 1em);
}

.flow__hero__description > * + * {
  margin-top: var(--flow-space-description, 1em);
}

.flow__hero__title > * + * {
  margin-top: var(--flow-space-title, 1em);
}

.flow__category__list > * + * {
  margin-top: var(--flow-space-category-list);
}

.flow__category__description > * + * {
  margin-top: var(--flow-space-category-description);
}



[data-type="arrow__right"] {
  margin-right: 1.07vw;
}

@media (min-width: 48rem){
  .flow__hero > * + * {
    margin-top: 5.21vw;
  }

  .flow__hero__description > * + * {
    margin-top: 3.125vw;
  }

  .flow__hero__title > * + * {
    margin-top: 3.125vw;
  }

  .flow__category__list > * + * {
    margin-top: 0;
    margin-left: 1.31vw;
  }

  .flow__category__description > * + * {
    margin-top: 2.22vw;
  }

  .hero{
    background-size: 102%;
    background-position-y: -13.34vw;
  }

}

@media (min-width: 80rem){
  .flow__hero > * + * {
    margin-top: 2.78vw;
  }

  .flow__hero__description > * + * {
    margin-top: 1.67vw;
  }

  .flow__hero__title > * + * {
    margin-top: 1.67vw;
  }

  .hero{
    background-image: url('/images/image-hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -6.94vw;
  }
}